/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.landscape
/.local
/.motd_shown
/.profile
/.ros
/.rviz2
/.sudo_as_admin_successful
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/frames_2025-11-22_18.29.31.gv
/frames_2025-11-22_18.29.31.pdf
/frames_2025-11-22_18.35.02.gv
/frames_2025-11-22_18.35.02.pdf